.box {
display: flex;
justify-content: center;
text-align: center;
height: 100px;
margin: 50px;
background: rgba(15, 16, 14, 0.5);
color: #739c64;
border: #1px solid #080504;
border-radius: 15px;
overflow: hidden;
}

.expanding-box:hover {
width: 500px;
height: 400px;
overflow:hidden;
word-wrap: break-word;
overflow: scroll;
}

.expanding-box {
width: 510px;
height: 56px;
overflow:hidden;
background: rgba(15, 16, 14, 0.5);
color: #739c64;
border: #1px solid #080504;
border-radius: 15px;
transition: width 5.5s, height 5.5s; /* Adding transitions for smooth animation */
}